.clientes {

		.box {
			display: inline-block;
			width: 168px;
			height: 170px;
			margin: 1px;
			margin-left: 20px;
			margin-top: 60px;
			border: solid #6d6d6d 1px;
			position: relative;
		}
}

@media(min-width: 620px) {

		.clientes {

			max-width: 1091px;
			margin: 0 auto;
			margin-top: 90px;
			margin-right: auto;
			background-color: red;

			.box {
				position: relative;
				margin-left: 80px;
				margin-right: 10px;
				margin: 5px;
			}
  }
}
