.clientes {

		.box {
			display: inline-block;
			width: 200px;
			height: 100px;
			margin: 1em;
			border: solid #6AC5AC 3px;
			position: relative;
		}
}

@media(min-width: 620px) {

		.clientes {

			img {
				padding: 10px;
			}

  }
}
