.clientes {

	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 55px;
	border: 1px solid;
	border-color: #a3a3a3;
	background-color: #ededed;
	text-align: center;

		.caixa {
			display: inline-block;
			width: 87px;
			height: 82px;
			margin: 1px;
			margin: 0 auto;
			margin-left: 1px;
			margin-right: 1px;
			margin-top: 2px;
			border: solid #d8d8d8 1px;

			.tamanho {

				img {
						width: 85px;
						height: 80px;
					}
				}
  	}

		h2 {
			color: @textoCorMarromEscuro;
			font-size: @h2TamanhoFonteMobile;
			text-align: left;
			margin-left: 10px;

		}
}

@media(min-width: 620px) {

		.clientes {

			max-width: 1380px;
			margin-left: 5px;
			margin: 0 auto;
			margin-top: 20px;
			margin-bottom: 70px;

		.caixa {
			position: relative;
			width: 142px;
			height: 112px;
			margin-left: 80px;
			margin-right: 10px;
			margin: 1px;

			.tamanho {

				img {
						width: 140px;
						height: 110px;
					}
				}
		}

		h2 {
			font-size: @h2TamanhoFonteDeskTop;
			text-align: center;
		}
  }
}
