.dragagem {

	.um{
		background-color:#FFF;
	}
	.dois {
		background-color:rgba(246, 246, 246, 1);
    border-top: 1px solid #DEDEDE;
    border-bottom: 21px solid #DEDEDE;
	}

	.content {
		width: 100%;
		height: auto;
		overflow: hidden;
		margin-top: -20px;
		padding-bottom: 20px;
		margin-bottom: 10px;


		h1 {
			color: #05a4e1;
			text-align: center;
      font-size: @h1TamanhoFonteMobile;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 20px;

		}

    hr {
           height: 30px;
           border-style: solid;
           border-color: red;
           border-width: 1px 0 0 0;
           border-radius: 20px;
         }
         hr:before {
           display: block;
           content: "";
           height: 30px;
           margin-top: -31px;
           border-style: solid;
           border-color: #8c8b8b;
           border-width: 0 0 1px 0;
           border-radius: 20px;
         }

				p {
					color: #696969;
					text-align: center;
					font-size: @pTamanhoFonteMobile;
					margin-left: 10px;
					margin-right: 10px;
          font-weight: 500;

				}
			}
		}

@media(min-width: 600px) {
		.content {
			max-width: 620px;
			margin: 0 auto;
			border-bottom: 55px;
			border-top: none;


			h1 {
				font-size: @pTamanhoFonteDeskTop;
			}

				p {
					font-size: @h1TamanhoFonteDeskTop;
				}
			}
		}
