.dragagem {



	.um{
		background-color:#FFF;
    border-top: 1px solid #DEDEDE;
     margin-top: -8px;
     margin-bottom: -25px;
	}
	.dois {
		background-color:rgba(246, 246, 246, 1);
    border-top: 1px solid #DEDEDE;
    margin-bottom: -29px;
	}

	.content {
		width: 100%;
		height: auto;
		overflow: hidden;
		margin-top: -20px;
		margin-bottom: 30px;


		h1 {
			color: #05a4e1;
			text-align: center;
      font-size: @h1TamanhoFonteMobile;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 40px;

		}
				p {
					color: #696969;
					text-align: center;
					font-size: @pTamanhoFonteMobile;
          margin-top: -35px;
          margin-bottom: 15px;
					margin-left: 10px;
					margin-right: 10px;
          font-weight: 500;

				}

				a {
					

				}
			}
		}

@media(min-width: 600px) {
		.content {
			max-width: 620px;
			margin: 0 auto;
			border-bottom: 55px;
			border-top: none;


			h1 {
				font-size: @pTamanhoFonteDeskTop;
			}

				p {
					font-size: @h1TamanhoFonteDeskTop;
				}
			}
		}
