.home {
	.conteudo {
		img{
			width: 100%;

		}
  }
}

@media(min-width: 620px) {
	.home {
		width: 100%;
		background-color: #f0f0f0;

		.conteudo {
			margin: 0 auto;
			background-color: #FFF;

			img{
				width: 100%;

			}
    }
  }
}
