.rodape {
  width: 100%;
  margin: 0 auto;
  margin-top: -14px;
  background-color: #1C1C1C;
  padding-bottom: 10px;


    .content {
      background-color: #1C1C1C;
      position: relative;
      margin: 0 auto;

      p{
        display: block;
        text-decoration: none;

        color: #FFF;
        font-size: 0.8rem;
        text-align: center;
        margin: 0 auto;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        animation: animacaoTexto ease 40s infinite alternate;

      }

      .fino{
        width: 250px;
        height: 1px;
        border: 0px;
        background-color: #FFF;
        margin: 0 auto;


      }

      a{

          display: block;
          text-align: center;
          padding: 5px 5px;
          color: white;
          font-size: .9em;
          width: 40px;
        }



      h1{
        position: relative;
        display: block;
        font-size: 18px;
        padding-top: 20px;
        text-align: center;
        animation: animacaoTexto ease 40s infinite alternate;

      }

      .contato {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;

        .icones {

            display: block;
            width: 40px;
            margin: 0 auto;
        }

        .textoWatts{
          display: block;
          width: 120px;
          margin: 0 auto;
          font-size: 14px;
          margin-top: -15px;
          margin-bottom: 5px;
        }

        .textoEmail{
          display: block;
          width: 220px;
          margin: 0 auto;
          font-size: 14px;
          margin-top: -15px;
        }

        img{
          width: 33px;
          height: 33px;
        }

      }
  }
}

@keyframes animacaoTexto {
0%   {
color: rgb(87, 183, 239);

}
30%  { color: rgb(77, 148, 196);}
60%  { color: rgb(115, 113, 166); }
75%  { color: rgb(240, 171, 149); }
100% {
color: rgb(87, 183, 239);

}
}





@media(min-width: 600px) {
	.rodape {
      .content {
        max-width: 980px;
        margin: 0 auto;




      }
    }

}
