.sobre {
margin-bottom: -12px;
  .content {
    width: 100%;
		height: auto;
		overflow: hidden;
		padding-bottom: 20px;
		margin-bottom: -12px;

    h1 {
      color: #05a4e1;
      font-size: @h1TamanhoFonteMobile;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 40px;
    }

    .direita {
      width: 30%;
      margin-right: 10px;
      float: right;
    }

    .esquerda {
      width: 60%;
      float: left;

      p {
				color: #696969;
				text-align: justify;
				font-size: 14px;
				margin-left: 10px;
				margin-right: 10px;
			}
    }
  }
}

@media(min-width: 620px) {
	.sobre {

    .content {

    }
  }
}
