.sobre {
  .content {

    h1 {
      color: #05a4e1;
      font-size: @h1TamanhoFonteMobile;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 40px;
    }

    .esquerda {
      width: 60%;
      float: left;
    }
  }
}

@media(min-width: 620px) {
	.arquiteta-urbanista {

  }

}
