@topoCorFundoBranco: #FFF;

// variaveis do menu
@menuCorFundoAzul: #3C7FCE;
@menuCorTextoBranco: #FFF;

@h1TamanhoFonteMobile: 18px;
@h1TamanhoFonteDeskTop: 20px;

@pTamanhoFonteMobile: 14px;
@pTamanhoFonteDeskTop: 16px;

@h2TamanhoFonteMobile: 15px;
@h2TamanhoFonteDeskTop: 18px;
