// Topo Cor Fundo
@topoCorFundoBranco: #FFF;

// Menu Cor
@menuCorFundoAzul: #42ba37;
@menuCorTextoBranco: #FFF;

// Tamanho Fonte h1
@h1TamanhoFonteMobile: 18px;
@h1TamanhoFonteDeskTop: 20px;

// Tamanho Fonte p
@pTamanhoFonteMobile: 14px;
@pTamanhoFonteDeskTop: 16px;

// Tamanho Fonte h2
@h2TamanhoFonteMobile: 15px;
@h2TamanhoFonteDeskTop: 18px;

// Botão
@botaoCorAzul: #61aa5a;

// Texto
@textoCorAzul: #3a2f02;

// Borda Azul Clientes
@BordaCorAzul: #95a95a;

// Rodape Cor
@corFundoAzulEscuro: #32702c;
@corTextoAzul: #3C7FCE;
