.footer {
	.box-sizing();
	padding: 10px;
	text-align: center;

	> footer {
		> p {
			font-size: 11px;
			line-height: 150%;

			> span,
			> a {
				color: @color-secondary;
			}
			> a {
				text-decoration: none;
			}
		}
	}
}