@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'dragagem-icons';
  src: url('../../assets/fonts/dragagem.eot?cs4zlx');
  src: url('../../assets/fonts/dragagem.eot?cs4zlx#iefix') format('embedded-opentype'), url('../../assets/fonts/dragagem.ttf?cs4zlx') format('truetype'), url('../../assets/fonts/dragagem.woff?cs4zlx') format('woff'), url('../../assets/fonts/dragagem.svg?cs4zlx#remoto-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
 * mobile-landscape
 * @description mobile-landscape breakpoint 480px
 */
/**
 * tablet
 * @description tablet breakpoint 768px
 */
/**
 * tablet
 * @description tablet breakpoint 992px
 */
/**
 * tablet
 * @description tablet breakpoint 1200px
 */
/**
 * box-sizing
 * @description the box-sizing property
 */
/**
 * clearfix
 * @description the box-sizing property
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/**
 * button
 * @description the box-sizing property
 */
body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body > .full {
  width: 100%;
}
body > .full.navigation {
  background-color: #333;
}
@media (min-width: 48em) {
  body > .full.orcamento {
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
body > .full.video {
  background-color: #e6f7da;
}
body > .full.contatos {
  background-color: #cee6bf;
}
body .hidden {
  visibility: hidden;
}
body .hideMobile {
  display: none;
}
@media (min-width: 48em) {
  body .hideMobile {
    display: block;
  }
}
@media (min-width: 48em) {
  body .hideTablet {
    display: none;
  }
}
.header {
  max-width: 1000px;
  margin: 0 auto;
}
.header > .content {
  margin: 20px;
}
.header > .content:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 62em) {
  .header > .content {
    margin: 40px;
  }
}
.header > .content > img {
  float: left;
  height: 60px;
}
@media (min-width: 30em) {
  .header > .content > img {
    height: 75px;
  }
}
@media (min-width: 48em) {
  .header > .content > img {
    height: 90px;
  }
}
@media (min-width: 62em) {
  .header > .content > img {
    height: 120px;
  }
}
.header > .content > .slogan {
  display: table;
  float: left;
  height: 60px;
  margin-left: 20px;
}
@media (min-width: 30em) {
  .header > .content > .slogan {
    height: 75px;
  }
}
@media (min-width: 48em) {
  .header > .content > .slogan {
    float: right;
    height: 90px;
  }
}
@media (min-width: 62em) {
  .header > .content > .slogan {
    height: 120px;
  }
}
.header > .content > .slogan > h1 {
  white-space: nowrap;
  font-size: 13px;
  letter-spacing: 1px;
  vertical-align: middle;
  display: table-cell;
}
@media (min-width: 30em) {
  .header > .content > .slogan > h1 {
    font-size: 18px;
  }
}
@media (min-width: 48em) {
  .header > .content > .slogan > h1 {
    font-size: 26px;
    text-align: right;
  }
}
@media (min-width: 62em) {
  .header > .content > .slogan > h1 {
    font-size: 32px;
  }
}
.header > .content > .contact {
  display: none;
}
@media (min-width: 48em) {
  .header > .content > .contact {
    display: table;
    float: right;
    height: 90px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #333;
  }
  .header > .content > .contact > .container {
    vertical-align: middle;
    display: table-cell;
  }
  .header > .content > .contact > .container > .phone {
    margin: 10px 0;
  }
  .header > .content > .contact > .container > .phone > .icon {
    margin-right: 5px;
  }
  .header > .content > .contact > .container > .phone.main > .icon::before {
    content: "\e906";
  }
  .header > .content > .contact > .container > .phone.main > .icon::before {
    font-family: 'dragagem-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16;
    text-align: center;
    vertical-align: middle;
  }
  .header > .content > .contact > .container > .phone.mobile > .icon::before {
    content: "\e909";
  }
  .header > .content > .contact > .container > .phone.mobile > .icon::before {
    font-family: 'dragagem-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16;
    text-align: center;
    vertical-align: middle;
  }
}
@media (min-width: 62em) {
  .header > .content > .contact {
    height: 120px;
  }
}
nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  height: 50px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 62em) {
  nav {
    padding-right: 20px;
    padding-left: 20px;
  }
}
nav > img {
  height: 30px;
  margin: 10px 10px 10px 0;
  float: left;
}
nav > ul {
  float: left;
}
nav > ul > li {
  float: left;
}
nav > ul > li > a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #fff;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 0 5px;
  margin-right: 1px;
  border-bottom: 2px solid transparent;
}
@media (min-width: 48em) {
  nav > ul > li > a {
    padding-right: 10px;
    padding-left: 10px;
  }
}
nav > ul > li > a:hover {
  border-color: #76b53c;
}
nav > ul > li > a.active {
  color: #76b53c;
  cursor: default;
  border-style: none;
}
nav > .social {
  display: none;
}
@media (min-width: 48em) {
  nav > .social {
    display: inline-block;
    float: right;
  }
}
nav > .social > ul > li > a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  float: left;
  color: #fff;
}
nav > .social > ul > li > a:hover {
  color: #76b53c;
}
nav > .social > ul > li > a.facebook::before {
  content: "\e901";
}
nav > .social > ul > li > a.facebook::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
nav > .social > ul > li > a.instagram::before {
  content: "\e903";
}
nav > .social > ul > li > a.instagram::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
nav > .social > ul > li > a.pinterest::before {
  content: "\e907";
}
nav > .social > ul > li > a.pinterest::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
nav > .social > ul > li > a.google-plus::before {
  content: "\e902";
}
nav > .social > ul > li > a.google-plus::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
nav > .social > ul > li > a.youtube::before {
  content: "\e90d";
}
nav > .social > ul > li > a.youtube::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
.cover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}
@media (min-width: 48em) {
  .cover {
    padding-top: 20px;
  }
}
@media (min-width: 62em) {
  .cover {
    padding-top: 40px;
  }
}
.cover > .border {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
.cover > .border > .banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.cover > .border > .banner:after {
  content: "";
  display: block;
  float: left;
  padding-top: 47.361%;
}
.cover > .border > .banner:before {
  content: "";
  display: block;
  background-image: url(../../assets/images/draga-succao-para-dragagem-e-desassoreamento.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cover > .border > .banner > .info {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}
@media (min-width: 48em) {
  .cover > .border > .banner > .info {
    padding: 20px;
  }
}
@media (min-width: 75em) {
  .cover > .border > .banner > .info {
    padding: 40px;
  }
}
.cover > .border > .banner > .info > h2 {
  color: #fff;
  white-space: nowrap;
  margin-bottom: 10px;
}
@media (min-width: 30em) {
  .cover > .border > .banner > .info > h2 {
    font-size: 18px;
  }
}
@media (min-width: 48em) {
  .cover > .border > .banner > .info > h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
@media (min-width: 62em) {
  .cover > .border > .banner > .info > h2 {
    font-size: 30px;
  }
}
.cover > .border > .banner > .info > h2 > span {
  display: inline-block;
  margin: 0 5px;
  color: #f9f1d7;
}
.cover > .border > .banner > .info > h2 > span::before {
  content: "\e90a";
}
.cover > .border > .banner > .info > h2 > span::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
.cover > .border > .banner > .info > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #f9f1d7;
}
.cover > .border > .banner > .info > a:hover {
  background-color: #e0d9c2;
}
@media (min-width: 62em) {
  .cover > .border > .banner > .info > a {
    margin-top: 20px;
  }
}
.social {
  text-align: center;
}
.social:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .social {
    display: none;
  }
}
.social > ul {
  display: inline-block;
}
.social > ul > li {
  width: 50px;
  height: 50px;
  float: left;
}
.social > ul > li > a {
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.social > ul > li > a:hover {
  color: #76b53c;
}
.social > ul > li > a.facebook::before {
  content: "\e901";
}
.social > ul > li > a.facebook::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
.social > ul > li > a.instagram::before {
  content: "\e903";
}
.social > ul > li > a.instagram::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
.social > ul > li > a.pinterest::before {
  content: "\e907";
}
.social > ul > li > a.pinterest::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
.social > ul > li > a.google-plus::before {
  content: "\e902";
}
.social > ul > li > a.google-plus::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
.social > ul > li > a.youtube::before {
  content: "\e90d";
}
.social > ul > li > a.youtube::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
.info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 48em) {
  .info {
    padding: 40px;
  }
}
.info > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.info > div:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .info > div:first-child {
    border-bottom: 1px solid #ccc;
  }
}
.info > div > .item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
.info > div > .item:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .info > div > .item {
    width: 50%;
    float: left;
  }
}
.info > div > .item > .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.info > div > .item > .content:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .info > div > .item > .content {
    padding: 20px;
    border-style: none;
  }
  .info > div > .item > .content.diferencial {
    width: 100%;
  }
}
.info > div > .item > .content.diferencial {
  border-bottom: none;
}
.info > div > .item > .content > header {
  width: 100%;
  margin-bottom: 10px;
}
.info > div > .item > .content > header.transparent {
  visibility: hidden;
  opacity: 0;
}
.info > div > .item > .content > header > .icon {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: #76b53c;
  color: #fff;
  float: left;
  margin-right: 10px;
}
.info > div > .item > .content > header > .icon.sobre::before {
  content: "\e900";
}
.info > div > .item > .content > header > .icon.sobre::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}
.info > div > .item > .content > header > .icon.servicos::before {
  content: "\e90a";
}
.info > div > .item > .content > header > .icon.servicos::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
.info > div > .item > .content > header > .icon.diferencial::before {
  content: "\e908";
}
.info > div > .item > .content > header > .icon.diferencial::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16;
  text-align: center;
  vertical-align: middle;
}
.info > div > .item > .content > header > h3 {
  line-height: 30px;
  font-weight: bold;
}
@media (min-width: 62em) {
  .info > div > .item > .content > header > h3 {
    font-size: 20px;
  }
}
.info > div > .item > .content > p {
  line-height: 120%;
}
.info > div > .item > .content > .list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  line-height: 120%;
  float: left;
}
@media (min-width: 30em) {
  .info > div > .item > .content > .list {
    /*padding: 20px;*/
  }
}
@media (min-width: 48em) {
  .info > div > .item > .content > .list {
    width: 50%;
  }
}
.orcamento {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  text-align: center;
}
@media (min-width: 30em) {
  .orcamento {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 48em) {
  .orcamento {
    padding-right: 200px;
    padding-left: 200px;
  }
}
@media (min-width: 62em) {
  .orcamento {
    padding: 40px 300px;
  }
}
.orcamento > section {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}
@media (min-width: 48em) {
  .orcamento > section {
    border-style: none;
    margin-bottom: 0;
  }
}
.orcamento > section > h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 48em) {
  .orcamento > section > h3 {
    font-size: 18px;
  }
}
@media (min-width: 62em) {
  .orcamento > section > h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.orcamento > section > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #76b53c;
}
.orcamento > section > a:hover {
  background-color: #6aa336;
}
.video > section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 75%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
@media (min-width: 48em) {
  .video > section {
    padding: 20px;
  }
}
@media (min-width: 62em) {
  .video > section {
    padding: 40px;
  }
}
@media (min-width: 75em) {
  .video > section {
    max-width: 60%;
  }
}
.video > section > h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 62em) {
  .video > section > h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.video > section > .youtube {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 10px;
  padding-bottom: 56.25%;
}
.video > section > .youtube > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contatos > section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.contatos > section:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .contatos > section {
    padding: 20px;
  }
}
@media (min-width: 62em) {
  .contatos > section {
    padding: 40px;
  }
}
.contatos > section > img {
  display: none;
}
@media (min-width: 48em) {
  .contatos > section > img {
    display: block;
    float: left;
    height: 90px;
    margin-right: 40px;
  }
}
.contatos > section > .container {
  float: left;
  width: auto;
}
.contatos > section > .container > h3 {
  margin-bottom: 10px;
  font-weight: bold;
}
@media (min-width: 48em) {
  .contatos > section > .container > h3 {
    font-size: 18px;
  }
}
@media (min-width: 62em) {
  .contatos > section > .container > h3 {
    font-size: 20px;
  }
}
@media (min-width: 48em) {
  .contatos > section > .container > .section {
    float: left;
    margin-right: 40px;
  }
}
.contatos > section > .container > .section > span {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}
@media (min-width: 48em) {
  .contatos > section > .container > .section > span {
    height: 30px;
    line-height: 30px;
  }
}
.contatos > section > .container > .section > span > .icon {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 5px;
}
.contatos > section > .container > .section > span > .icon.phone::before {
  content: "\e906";
}
.contatos > section > .container > .section > span > .icon.phone::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}
.contatos > section > .container > .section > span > .icon.mobile::before {
  content: "\e909";
}
.contatos > section > .container > .section > span > .icon.mobile::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}
.contatos > section > .container > .section > span > .icon.mail::before {
  content: "\e904";
}
.contatos > section > .container > .section > span > .icon.mail::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}
.contatos > section > .container > .section > span > .icon.address::before {
  content: "\e905";
}
.contatos > section > .container > .section > span > .icon.address::before {
  font-family: 'dragagem-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 48em) {
  .contatos > section > .container > .section > span > .icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .contatos > section > .container > .section > span > .icon.phone:before,
  .contatos > section > .container > .section > span > .icon.mobile:before,
  .contatos > section > .container > .section > span > .icon.mail:before,
  .contatos > section > .container > .section > span > .icon.address:before {
    font-size: 14px;
  }
}
.contatos > section > .container > .section > span > .text.bold {
  font-weight: bold;
}
.contatos > section > .container > .section > span > .text > a {
  font-size: 13px;
  text-decoration: none;
  color: #333;
}
@media (min-width: 30em) {
  .contatos > section > .container > .section > span > .text > a {
    font-size: 14px;
  }
}
.contatos > section > .gmaps {
  display: none;
}
@media (min-width: 62em) {
  .contatos > section > .gmaps {
    display: block;
    float: left;
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
  }
  .contatos > section > .gmaps:hover {
    background-color: #e60000;
  }
  .contatos > section > .gmaps > span::before {
    content: "\e905";
  }
  .contatos > section > .gmaps > span::before {
    font-family: 'dragagem-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
  }
}
